<h1>Dashboard</h1>

<div>Hello <%= current_user.email %></div>
<div><%= current_user.first_name %> <%= current_user.last_name %></div>
<div>Role: <%= current_user.role %></div>
<br>
<% if can? :read, User %>
  <div><%= link_to "Users", users_path %></div>
<% end %>
<% if can? :manage, ClientFormType %>
  <div><%= link_to "ClientFormType", client_form_types_path %></div>
<% end %>
<% if can? :manage, AnswerFormType %>
  <div><%= link_to "AnswerFormType", answer_form_types_path %></div>
<% end %>

<% if can? :create, AnswerForm %>
  <div><%= link_to "AnswerForm", answer_forms_path %></div>
<% end %>
<br>
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Total price</th>
      <th>Status</th>
      <th>Is payed</th>
      <th>Client form type</th>
      <th>User</th>
      <th>Who answered</th>
      <th>Properties</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @client_forms.each do |client_form| %>
      <% if (current_user.admin?) || (client_form.user==current_user) %>
        <tr>
          <td><%= client_form.id %></td>
          <td><%= client_form.name %></td>
          <td><%= client_form.total_price %></td>
          <td><%= client_form.status %></td>
          <td><%= client_form.is_payed %></td>
          <td><%= client_form.client_form_type.name %></td>
          <td><%= client_form.user.username %></td>
          <td><% if client_form.answer_form %><%= client_form.answer_form.user.username %>
          <% end %>
          </td>
          <td><%= client_form.properties %></td>
          <td><%= link_to 'Show', client_form %></td>
          <% if (can? :update, client_form) || (!client_form.is_payed) %>
            <td><%= link_to 'Edit', edit_client_form_path(client_form) %></td>
          <% end %>
          <% if (can? :update, client_form) || (!client_form.is_payed) %>
            <td><%= link_to 'Destroy', client_form, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
          <td>
            <%= link_to "Answer", new_answer_form_path(answer_form_type_id: client_form.client_form_type.answer_form_type,client_form_id: client_form.id ) %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>