<h1>Dashboard</h1>

<div>Hello <%= current_user.email %></div>
<div><%= current_user.first_name %> <%= current_user.last_name %></div>
<div>Role: <%= current_user.role %></div>
<br>
<% if can? :read, User %>
  <div><%= link_to "Users", users_path %></div>
<% end %>
<% if can? :manage, ClientFormType %>
  <div><%= link_to "ClientFormType", client_form_types_path %></div>
<% end %>
<% if can? :manage, AnswerFormType %>
  <div><%= link_to "AnswerFormType", answer_form_types_path %></div>
<% end %>

<% if can? :create, AnswerForm %>
  <div><%= link_to "AnswerForm", answer_forms_path %></div>
<% end %>
<br>
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Project name</th>
      <th>Client username</th>
      <th>Type</th>
      <th>How much the client payed</th>
      <th>Budget</th>
      <th>Date of achizition</th>
      <th>Date of creation</th>
      <th>Date of answer</th>
      <th>Status</th>
      <th>Payed?</th>
      <th>View</th>
      <th>Download</th>
      <th>Print</th>
      <th>Edit</th>
      <th>Delete</th>
      <th>Answer</th>
      <th>View answer</th>
      <th>Answer total</th>
      <th>Who answered</th>
    </tr>
  </thead>

  <tbody>
    <% @client_forms.each do |client_form| %>
      <% if (current_user.admin?) || (client_form.user==current_user) %>
        <tr>
          <td><%= client_form.id %></td>
          <td><%= client_form.name %></td>
          <td><%= client_form.user.username %></td>
          <td><%= client_form.client_form_type.name %></td>
          <td><%= client_form.total_price %></td>
          <td>to do</td>
          <td>to do</td>
          <td><%= client_form.created_at.strftime("%d/%m/%Y") %></td>
          <td><%= client_form.answer_form.created_at.strftime("%d/%m/%Y") %></td>
          <td><%= client_form.status %></td>
          <td><%= client_form.is_payed %></td>
          <td><%= link_to 'View', client_form %></td>
          <td>to do later PDF</td>
          <td>to do later print</td>
          <% if (can? :update, client_form) || (!client_form.is_payed) %>
            <td><%= link_to 'Edit', edit_client_form_path(client_form) %></td>
          <% end %>
          <% if (can? :update, client_form) || (!client_form.is_payed) %>
            <td><%= link_to 'Delete', client_form, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
          <td>
            <%= link_to "Answer", new_answer_form_path(answer_form_type_id: client_form.client_form_type.answer_form_type,client_form_id: client_form.id ) %>
          </td>
          <td>
            <% if client_form.answer_form %>
              <%= link_to "View Answer", answer_form_path(id: client_form.answer_form ) %>
            <% end %>
          </td>
          <td>
            <% if client_form.answer_form %>
              <%= client_form.answer_form.total_price %>
            <% end %>
          </td>
          <td>
            <% if client_form.answer_form %>
              <%= client_form.answer_form.user.username %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>