<%= form_with(model: client_form) do |form| %>
  <% if client_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(client_form.errors.count, "error") %> prohibited this client_form from being saved:</h2>

      <ul>
        <% client_form.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :client_form_type_id %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :total_price %>
    <%= form.text_field :total_price %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="field">
    <%= form.label :is_payed %>
    <%= form.check_box :is_payed %>
  </div>

  <%= form.hidden_field :preform_term_and_conditions, value: @client_form.client_form_type.preform_term_and_conditions %>
  
    <div id="tc_text"><%= @client_form.client_form_type.preform_term_and_conditions %></div>
    <div class="field">
      <%= form.label :agee_preform_t_and_c, id: "tc_label" %>
      <%= form.check_box :agee_preform_t_and_c, id: "tc" %>
    </div>


  <div id="formular" style="display:none">
    <%= form.fields_for :properties, OpenStruct.new(@client_form.properties) do |builder| %>
      <% @client_form.client_form_type.sections.each do |section| %>
        <%= render "sections", section: section, f: builder %>
      <% end %>
    <% end %>
    
    <div class="actions">
      <%= form.submit %>
    </div>
  </div>
<% end %>