<p id="notice"><%= notice %></p>

<h1>Client Forms</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Total price</th>
      <th>Status</th>
      <th>Is payed</th>
      <th>Client form type</th>
      <th>Properties</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @client_forms.each do |client_form| %>
      <tr>
        <td><%= client_form.name %></td>
        <td><%= client_form.total_price %></td>
        <td><%= client_form.status %></td>
        <td><%= client_form.is_payed %></td>
        <td><%= client_form.client_form_type_id %></td>
        <td><%= client_form.properties %></td>
        <td><%= link_to 'Show', client_form %></td>
        <td><%= link_to 'Edit', edit_client_form_path(client_form) %></td>
        <td><%= link_to 'Destroy', client_form, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
!!!!!!!!!!!!!!!!!!!!
<br>
<% @client_form_categories.each do |client_form_category| %>
  <% if client_form_category.client_form_types.count()>1 %>
    da
  <% else %>
    <% client_form_category.client_form_types.each do |client_form_type| %>
      <%=  link_to client_form_type.name, new_client_form_path(client_form_type_id: client_form_type.id)  %>
    <% end %>
    
  <% end %>

<% end %>

